* {
  margin: 0px;
}

body {
  background-color: #f29d52;
}

.App {
  text-align: center;
}

.background {
  width: 60%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10%;
}
